@mixin font($size, $weight, $line, $color, $style: normal) {
    font-style: $style;
    font-size: $size;
    font-weight: $weight;
    line-height: $line;
    color: $color;
}


/* Recommended Type System */
@mixin hero($color) {
    @include font(80px, 500, 80px, $color);
    // letter-spacing: -2px;
}

@mixin header($color) {
    @include font(42px, 500, 36px, $color);
    // letter-spacing: -1px;
}

@mixin headline($color) {
    @include font(32px, 500, 24px, $color);
    // letter-spacing: -1px;
}

@mixin sub-head($color) {
    @include font(28px, 500, 26px, $color);
    // letter-spacing: -1px;
}

@mixin small-sub-head($color) {
    @include font(24px, 500, 24px, $color);
}

@mixin body($color) {
    @include font(22px, 300, 32px, $color);
}

@mixin medium-body($color) {
    @include font(18px, 300, 24px, $color);
}

@mixin small-body($color) {
    @include font(16px, 300, 24px, $color);
}

@mixin mini-body($color) {
    @include font(12px, 300, 22px, $color);
}

/* End Recommended Type System */