$color-white: #FFFFFF;
$color-black: #000000;

// gray
$color-gray-light: #E8E8E8;

//fontSizes
$fontSizes-xsmall: 10px;
$fontSizes-small: 12px;
$fontSizes-mediumSmall: 14px;
$fontSizes-medium: 16px;
$fontSizes-mediumLarge: 18px;
$fontSizes-large: 35px;
$fontSizes-xlarge: 2em;
$fontSizes-xxlarge: 2.5em;

// fontWeights
$fontWeights-thin: 300;
$fontWeights-medium: 400;
$fontWeights-semibold: 600;
$fontWeights-bold: 700;

$search-bar-shadow: rgb(28 28 28 / 8%) 0px 2px 8px;